In [35]:
import pandas as pd
import numpy as np
import re

In [3]:
df_data = pd.read_csv('/home/darshan/Documents/VonageEtl_Lead_Score/processed_dataset.csv')

df_data.info()

/tmp/ipykernel_520027/4054854854.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_data = pd.read_csv('/home/darshan/Documents/VonageEtl_Lead_Score/processed_dataset.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5023681 entries, 0 to 5023680
Data columns (total 17 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   First Name       object
 2   CompanyName      object
 3   mail             object
 4   Email            object
 5   CTA              object
 6   Domain           object
 7   ID               object
 8   source           object
 9   date             object
 10  raw_status       object
 11  status           object
 12  status_time      object
 13  reason           object
 14  status_time_utc  object
 15  derived_email    object
 16  derived_mail     object
dtypes: int64(1), object(16)
memory usage: 651.6+ MB

In [4]:
df_data.sample(5)

,Unnamed: 0,First Name,CompanyName,mail,Email,CTA,Domain,ID,source,date,raw_status,status,status_time,reason,status_time_utc,derived_email,derived_mail
4221988,4221988,Helen,Merck Sharp & Dohme Corp,helen_lothian@merck.com,helen_lothian@merck.com # YAMMID-1733154624948...,surveys.insightlab.co/vonage/?utm_source=direc...,Jack Miller,jack.miller@insightlab.co,../datasets/Vonage_Data_2025/Nov_24/VonageCC_N...,2024-11-21 00:00:00,EMAIL_SENT # 11/21/2024 - 11:44 AM EST,EMAIL_SENT,11/21/2024 - 11:44 AM EST,NaN,2024-11-21 16:44:00+00:00,helen_lothian@merck.com,helen_lothian@merck.com
3719447,3719447,Fatma,Philip Morris International,fatma.oun@pmi.com,fatma.oun@pmi.com # YAMMID-1731336091546/1931b...,surveys.insightlab.co/vonage/?utm_source=direc...,John Norton,nortonj@insightlab.co,../datasets/Vonage_Data_2025/Oct_24/Vonage_CC_...,2024-11-07 00:00:00,EMAIL_SENT # 11/07/2024 - 09:31 AM EST,EMAIL_SENT,11/07/2024 - 09:31 AM EST,NaN,2024-11-07 14:31:00+00:00,fatma.oun@pmi.com,fatma.oun@pmi.com
958337,958337,Ira,Telular,istern@telular.com,istern@telular.com # YAMMID-1712589467934/18eb...,www.insightlab.co/vonage-cc?utm_source=direct_...,Gary White,nortonjohn@insightlab.co,../datasets/Vonage_Data_2025/Mar_24/VonageCC_S...,2024-04-01 00:00:00,EMAIL_SENT # 04/01/2024 - 11:46 AM EDT,EMAIL_SENT,04/01/2024 - 11:46 AM EDT,NaN,2024-04-01 15:46:00+00:00,istern@telular.com,istern@telular.com
4773896,4773896,Ganesh,CVS Pharmacy Inc,ganesh.gulecha@cvshealth.com,ganesh.gulecha@cvshealth.com # YAMMID-17361720...,surveys.insightlab.co/vonage/?utm_source=direc...,William Penn,william.penn@insightlab.co,../datasets/Vonage_Data_2025/Dec_24/Vonage_CC_...,2025-02-06 00:00:00,EMAIL_SENT # 01/06/2025 - 09:01 AM EST,EMAIL_SENT,01/06/2025 - 09:01 AM EST,NaN,2025-01-06 14:01:00+00:00,ganesh.gulecha@cvshealth.com,ganesh.gulecha@cvshealth.com
3827681,3827681,James,Northern Illinois University,jimleon@cs.niu.edu,jimleon@cs.niu.edu # YAMMID-1727878872120/1924...,surveys.insightpanel.biz/vonage/?utm_source=di...,Emma Dunn,emma.dunn@insightpanel.biz,../datasets/Vonage_Data_2025/Oct_24/Vonage_CC_...,2024-10-04 00:00:00,0.0,0.0,NaN,NaN,NaN,jimleon@cs.niu.edu,jimleon@cs.niu.edu

## Remove Extra Columns of Email

In [5]:
df_data = df_data.dropna(subset=["mail", "Email", "derived_email", "derived_mail"], how="all")

In [6]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5017805 entries, 0 to 5023680
Data columns (total 17 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   First Name       object
 2   CompanyName      object
 3   mail             object
 4   Email            object
 5   CTA              object
 6   Domain           object
 7   ID               object
 8   source           object
 9   date             object
 10  raw_status       object
 11  status           object
 12  status_time      object
 13  reason           object
 14  status_time_utc  object
 15  derived_email    object
 16  derived_mail     object
dtypes: int64(1), object(16)
memory usage: 689.1+ MB

In [7]:
df_data[["mail", "Email", "derived_email", "derived_mail"]].isna().sum()

mail             0
Email            0
derived_email    0
derived_mail     0
dtype: int64

In [8]:
(df_data["derived_email"] != df_data["derived_mail"]).sum()

np.int64(0)

In [9]:
df_data = df_data.drop(columns=["mail", "Email", "derived_mail"])

## Complete: Remove Extra Columns of Email

In [10]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5017805 entries, 0 to 5023680
Data columns (total 14 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   First Name       object
 2   CompanyName      object
 3   CTA              object
 4   Domain           object
 5   ID               object
 6   source           object
 7   date             object
 8   raw_status       object
 9   status           object
 10  status_time      object
 11  reason           object
 12  status_time_utc  object
 13  derived_email    object
dtypes: int64(1), object(13)
memory usage: 574.2+ MB

## Cleaning Email Status Value

In [11]:
df_data['status'].unique()

array(['EMAIL_SENT', 'EMAIL_OPENED', '0', 'ERROR', 'UNSUBSCRIBED',
       'BOUNCED', 'RESPONDED', 'EMAIL_CLICKED', 'SCHEDULED',
       'EMAIL_NOT_SENT', '0.0', nan], dtype=object)

In [12]:
df_data.replace('0.0','0',inplace=True)
df_data["status"] = df_data["status"].fillna("0")
df_data['status'] = df_data['status'].replace('0','EMAIL_NOT_SENT')

df_data['status'].unique()

array(['EMAIL_SENT', 'EMAIL_OPENED', 'EMAIL_NOT_SENT', 'ERROR',
       'UNSUBSCRIBED', 'BOUNCED', 'RESPONDED', 'EMAIL_CLICKED',
       'SCHEDULED'], dtype=object)

## Cleaning Reason Value

In [13]:
df_data['reason'].unique()

array([nan, 'Not Found', 'Invalid email address', 'Message rejected',
       'Address not found', 'Message not delivered', 'Message blocked',
       'Soft bounce', 'Gmail operation not allowed.', 'unknown',
       'Invalid email', 'Not found', 'Service unavailable',
       'Invalid email: "Chad Â€_x008d_" <chad_a€_x008d_@pamperedchef.com>',
       'Invalid email: "Ä¸œ Æ_x009d_Ž" <a¸œ.ae_x009d_z@dvf.com>'],
      dtype=object)

In [14]:
# Define the mapping of old reasons to new standardized reasons
reason_mapping = {
    'Invalid email address': 'Invalid Email',
    'Invalid email': 'Invalid Email',
    'Not Found': 'Not Found',
    'Not found': 'Not Found',
    'Address not found': 'Not Found',
    'Message rejected': 'Message Rejected',
    'Message not delivered': 'Message Not Delivered',
    'Message blocked': 'Message Blocked',
    'Soft bounce': 'Soft Bounce',
    'Gmail operation not allowed.': 'Gmail Operation Not Allowed',
    'unknown': 'Unknown',
    'Service unavailable': 'Service Unavailable',
    # Handling corrupted email messages as 'Invalid Email'
    'Invalid email: "Chad Â€_x008d_" <chad_a€_x008d_@pamperedchef.com>': 'Invalid Email',
    'Invalid email: "Ä¸œ Æ_x009d_Ž" <a¸œ.ae_x009d_z@dvf.com>': 'Invalid Email'
}

# Apply mapping to the dataframe
df_data['standardized_reason'] = df_data['reason'].map(reason_mapping).fillna(df_data['reason'])

# Display the updated dataframe
df_data['standardized_reason'].unique()

array([nan, 'Not Found', 'Invalid Email', 'Message Rejected',
       'Message Not Delivered', 'Message Blocked', 'Soft Bounce',
       'Gmail Operation Not Allowed', 'Unknown', 'Service Unavailable'],
      dtype=object)

In [15]:
df_data.groupby("status")["standardized_reason"].unique()

status
BOUNCED           [Message Rejected, Not Found, Message Not Deli...
EMAIL_CLICKED                                                 [nan]
EMAIL_NOT_SENT    [nan, Message Rejected, Message Blocked, Not F...
EMAIL_OPENED                                                  [nan]
EMAIL_SENT                                                    [nan]
ERROR             [Not Found, Invalid Email, Gmail Operation Not...
RESPONDED                                                     [nan]
SCHEDULED                                          [nan, Not Found]
UNSUBSCRIBED                                                  [nan]
Name: standardized_reason, dtype: object

## Can i change Status Value Based on reason?
### Some time email reason is 'Not Found' but is Status is Diff. so use user mistake or correct data?

In [16]:
df_email_status = df_data.groupby('derived_email')['status'].unique().reset_index()
df_email_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143973 entries, 0 to 143972
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   derived_email  143973 non-null  object
 1   status         143973 non-null  object
dtypes: object(2)
memory usage: 2.2+ MB

## Verify Status Time column
### Time is missing or not for building a feature
### we need status_date value in bulding feature for EMAIL_SEND. but some status_date is Emplty so we use form date column

In [17]:
df_data[df_data["status_time_utc"].isna()]['status'].value_counts()

status
EMAIL_NOT_SENT    819083
BOUNCED           128399
SCHEDULED          14368
EMAIL_SENT          9198
ERROR               7526
UNSUBSCRIBED          17
Name: count, dtype: int64

In [18]:
df_data[(df_data['status_time_utc'].isna()) & (df_data['status'] == "EMAIL_SENT")]['date'].unique()

array(['2024-03-11 00:00:00', '2024-02-06 00:00:00',
       '2024-05-02 00:00:00', '2024-04-04 00:00:00',
       '2024-05-14 00:00:00', '2024-07-30 00:00:00',
       '2024-08-01 00:00:00', '2024-11-11 00:00:00',
       '2024-10-30 00:00:00', '2024-11-21 00:00:00',
       '2024-11-13 00:00:00'], dtype=object)

In [19]:
df_data['dt_status_time_utc'] = pd.to_datetime(df_data['status_time_utc'])

# Verify Date convert in properly
df_data[['status_time_utc', 'dt_status_time_utc']].head()

             status_time_utc        dt_status_time_utc
0  2024-01-03 15:46:00+00:00 2024-01-03 15:46:00+00:00
1  2024-01-03 15:46:00+00:00 2024-01-03 15:46:00+00:00
2  2024-01-03 15:46:00+00:00 2024-01-03 15:46:00+00:00
3  2024-01-03 15:46:00+00:00 2024-01-03 15:46:00+00:00
4  2024-01-03 15:46:00+00:00 2024-01-03 15:46:00+00:00

In [20]:
mask = (df_data['status_time_utc'].isna()) & (df_data['status'] == 'EMAIL_SENT')

df_data.loc[mask, 'status_time_utc'] = pd.to_datetime(df_data.loc[mask, 'date']).dt.strftime("%Y-%m-%d %H:%M:%S+00:00")

df_data[df_data["status_time_utc"].isna()]['status'].value_counts()

status
EMAIL_NOT_SENT    819083
BOUNCED           128399
SCHEDULED          14368
ERROR               7526
UNSUBSCRIBED          17
Name: count, dtype: int64

## Create Feature C

In [21]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5017805 entries, 0 to 5023680
Data columns (total 16 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   First Name           object
 2   CompanyName          object
 3   CTA                  object
 4   Domain               object
 5   ID                   object
 6   source               object
 7   date                 object
 8   raw_status           object
 9   status               object
 10  status_time          object
 11  reason               object
 12  status_time_utc      object
 13  derived_email        object
 14  standardized_reason  object
 15  dt_status_time_utc   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(1), object(14)
memory usage: 650.8+ MB

In [22]:
# Create pivot table to count each status per email
email_status_counts = df_data.pivot_table(index="derived_email", columns="status", aggfunc="size", fill_value=0)

# Reset index for better readability
email_status_counts = email_status_counts.reset_index()

df_feature_cl = email_status_counts.drop(columns=['EMAIL_NOT_SENT', 'ERROR', 'SCHEDULED'])

df_feature_cl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143973 entries, 0 to 143972
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   derived_email  143973 non-null  object
 1   BOUNCED        143973 non-null  int64
 2   EMAIL_CLICKED  143973 non-null  int64
 3   EMAIL_OPENED   143973 non-null  int64
 4   EMAIL_SENT     143973 non-null  int64
 5   RESPONDED      143973 non-null  int64
 6   UNSUBSCRIBED   143973 non-null  int64
dtypes: int64(6), object(1)
memory usage: 7.7+ MB

In [23]:
# Convert datetime column if not already in datetime format
df_data["dt_status_time_utc"] = pd.to_datetime(df_data["dt_status_time_utc"])

# Define time filters
from datetime import timedelta

# last_4_weeks = df_data["dt_status_time_utc"] >= (df_data["dt_status_time_utc"].max() - timedelta(weeks=4))
# last_8_weeks = df_data["dt_status_time_utc"] >= (df_data["dt_status_time_utc"].max() - timedelta(weeks=8))
# last_12_weeks = df_data["dt_status_time_utc"] >= (df_data["dt_status_time_utc"].max() - timedelta(weeks=12))
# weekend_emails = df_data["dt_status_time_utc"].dt.dayofweek >= 5  # Saturday & Sunday

# # Aggregations
# features = df_data.groupby("derived_email").agg(
#     Total_Emails_Sent=("status", "count"),
#     Total_Email_Clicks=("status", lambda x: (x == "EMAIL_CLICKED").sum()),
#     Total_Email_Opened=("status", lambda x: (x == "EMAIL_OPENED").sum()),
#     Total_Email_Unsubscribed=("status", lambda x: (x == "UNSUBSCRIBED").sum()),
#     Total_Bounced=("status", lambda x: (x == "BOUNCED").sum()),
#     Total_Responded_Emails=("status", lambda x: (x == "RESPONDED").sum()),
#     Total_Emails_Sent_Last_4_Weeks=("dt_status_time_utc", lambda x: (x >= (x.max() - timedelta(weeks=4))).sum()),
#     Total_Emails_Sent_Last_8_Weeks=("dt_status_time_utc", lambda x: (x >= (x.max() - timedelta(weeks=8))).sum()),
#     Total_Emails_Sent_Last_12_Weeks=("dt_status_time_utc", lambda x: (x >= (x.max() - timedelta(weeks=12))).sum()),
#     Total_Emails_Opened_Last_4_Weeks=("status", lambda x: ((df_data.loc[x.index, "dt_status_time_utc"] >= (df_data["dt_status_time_utc"].max() - timedelta(weeks=4))) & (x == "EMAIL_OPENED")).sum()),
#     Total_Emails_Opened_Last_8_Weeks=("status", lambda x: ((df_data.loc[x.index, "dt_status_time_utc"] >= (df_data["dt_status_time_utc"].max() - timedelta(weeks=8))) & (x == "EMAIL_OPENED")).sum()),
#     Total_Emails_Opened_Last_12_Weeks=("status", lambda x: ((df_data.loc[x.index, "dt_status_time_utc"] >= (df_data["dt_status_time_utc"].max() - timedelta(weeks=12))) & (x == "EMAIL_OPENED")).sum()),
#     Total_Emails_Send_On_Weekends=("dt_status_time_utc", lambda x: (x.dt.dayofweek >= 5).sum()),
# )

# # Derived Metrics
# features["Click_To_Open_Ratio"] = features["Total_Email_Clicks"] / features["Total_Email_Opened"]
# features["Click_Through_Rate"] = features["Total_Email_Clicks"] / features["Total_Emails_Sent"]
# features["Response_Rate"] = features["Total_Responded_Emails"] / features["Total_Emails_Sent"]
# features["Bounce_Rate"] = features["Total_Bounced"] / features["Total_Emails_Sent"]

# # Days since last action
# features["Days_Since_Last_Email_Clicked"] = (df_data.loc[df_data["status"] == "EMAIL_CLICKED"].groupby("derived_email")["dt_status_time_utc"].max() - df_data["dt_status_time_utc"].max()).dt.days
# features["Days_Since_Last_Successful_Response"] = (df_data.loc[df_data["status"].isin(["EMAIL_CLICKED", "EMAIL_OPENED", "RESPONDED"])].groupby("derived_email")["dt_status_time_utc"].max() - df_data["dt_status_time_utc"].max()).dt.days

# features.reset_index(inplace=True)

In [24]:
df_data['dt_status_time_utc'] >= df_data['dt_status_time_utc'].max() - timedelta(weeks=4)

0          False
1          False
2          False
3          False
4          False
           ...
5023676     True
5023677     True
5023678     True
5023679     True
5023680     True
Name: dt_status_time_utc, Length: 5017805, dtype: bool

In [25]:
df_data['dt_status_time_utc'].max() - timedelta(weeks=4)

Timestamp('2024-12-10 16:25:00+0000', tz='UTC')

In [78]:
def verify_email_pattern(email):
    pattern = r"^[a-zA-Z0-9._+\-']+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    return True if re.match(pattern, str(email)) else False

In [79]:
df_temp = pd.read_csv('/home/darshan/Documents/VonageEtl_Lead_Score/unique_prospect_firmographic_dataset.csv')

df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157392 entries, 0 to 157391
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 157392 non-null  int64
 1   First Name                 157391 non-null  object
 2   Last Name                  157228 non-null  object
 3   Title                      157391 non-null  object
 4   Department                 157392 non-null  object
 5   Seniority                  157391 non-null  object
 6   Company Name               150728 non-null  object
 7   Website                    157381 non-null  object
 8   Email 1                    157391 non-null  object
 9   Contact City               136114 non-null  object
 10  Contact State              114351 non-null  object
 11  Contact Country            157363 non-null  object
 12  Company City               144786 non-null  object
 13  Company State              131808 non-null  object
 14  Company Country            98554 non-null   object
 15  Company Annual Revenue     103846 non-null  object
 16  Company Industry           156690 non-null  object
 17  Company Staff Count Range  140934 non-null  object
 18  Company Staff Count        86340 non-null   float64
 19  is_valid_email             157392 non-null  bool
dtypes: bool(1), float64(1), int64(1), object(17)
memory usage: 23.0+ MB

/tmp/ipykernel_520027/4152477706.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv('/home/darshan/Documents/VonageEtl_Lead_Score/unique_prospect_firmographic_dataset.csv')

In [81]:
df_temp[['Email 1', 'is_valid_email']]

                                  Email 1  is_valid_email
0                  teja.gantela@sonos.com            True
1                         dchennu@box.com            True
2               abalakrishnan@dropbox.com            True
3               lorne.macarthur@sonos.com            True
4                         pravina@box.com            True
...                                   ...             ...
157387        shawnray.huffman@zoetis.com            True
157388       jared.m.kimbrough@zoetis.com            True
157389             emily.piper@zoetis.com            True
157390  satchidanand.tadepalli@zoetis.com            True
157391              rob.page@zurichna.com            True

[157392 rows x 2 columns]

In [82]:
df_temp['is_valid_email(new)'] = df_temp['Email 1'].apply(verify_email_pattern)

In [83]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157392 entries, 0 to 157391
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 157392 non-null  int64
 1   First Name                 157391 non-null  object
 2   Last Name                  157228 non-null  object
 3   Title                      157391 non-null  object
 4   Department                 157392 non-null  object
 5   Seniority                  157391 non-null  object
 6   Company Name               150728 non-null  object
 7   Website                    157381 non-null  object
 8   Email 1                    157391 non-null  object
 9   Contact City               136114 non-null  object
 10  Contact State              114351 non-null  object
 11  Contact Country            157363 non-null  object
 12  Company City               144786 non-null  object
 13  Company State              131808 non-null  object
 14  Company Country            98554 non-null   object
 15  Company Annual Revenue     103846 non-null  object
 16  Company Industry           156690 non-null  object
 17  Company Staff Count Range  140934 non-null  object
 18  Company Staff Count        86340 non-null   float64
 19  is_valid_email             157392 non-null  bool
 20  is_valid_email(new)        157392 non-null  bool
dtypes: bool(2), float64(1), int64(1), object(17)
memory usage: 23.1+ MB

In [84]:
df_temp.to_csv('/home/darshan/Documents/VonageEtl_Lead_Score/unique_prospect_firmographic_dataset.csv')

In [66]:
(df_temp['is_valid_email'] != df_temp['is_valid_email(new)']).sum()

np.int64(12)

In [67]:
df_temp[(df_temp['is_valid_email'] != df_temp['is_valid_email(new)'])][['Email 1', 'is_valid_email', 'is_valid_email(new)']]

,Email 1,is_valid_email,is_valid_email(new)
3283,free_dumps/materials@infosys.com,True,False
18717,sriram.developer/administrator@gusto.com,True,False
20180,david/minhh@netpolarity.com,True,False
38860,ishe/her/ella@google.com,True,False
70064,steven.monson/work@vizientinc.com,True,False
72481,bill.moon=aapc.com@example.com,True,False
76583,mchiu/mcglynn@arbonne.com,True,False
77981,pgdca/bis.krishnan@att.com,True,False
112675,dwarka.â€˜tandur@lifemark.ca,True,False
130929,~slackey@plausa.com,True,False
154066,matthewmcdaniels/maximus@maximussingapore.sg,True,False
156140,bmichael/b.bcosenza/b@oracle.com,True,False

In [71]:
(df_temp['is_valid_email(new)'] == True).sum()

np.int64(157085)

In [72]:
(df_temp['is_valid_email(new)'] == False).sum()

np.int64(307)

In [73]:
df_temp['Email 1'].nunique()

157391

In [77]:
df_temp['Email 1'].isna().sum()

np.int64(1)