In [3]:
import pandas as pd

In [6]:
df_vbc_acc = pd.read_csv('/home/darshan/Documents/Vonage 2024-Nov-13/SFDC/VBC Accounts.csv', encoding='latin-1')
df_vbc_acc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989119 entries, 0 to 1989118
Data columns (total 13 columns):
 #   Column                               Dtype
---  ------                               -----
 0   Account Owner                        object
 1   Account ID                           object
 2   Account Name                         object
 3   Billing State/Province (text only)   object
 4   Billing Country                      object
 5   Region                               object
 6   Type                                 object
 7   Account Record Type                  object
 8   Website                              object
 9   Annual Revenue (converted) Currency  object
 10  Annual Revenue (converted)           float64
 11  Employees                            float64
 12  Industry                             object
dtypes: float64(2), object(11)
memory usage: 197.3+ MB

In [60]:
df_sfdc_opp = pd.read_csv('/home/darshan/Documents/22-Nov-Data/sfdc_opportunities.csv', encoding='latin-1')
df_sfdc_opp.info()

/tmp/ipykernel_122836/4208054374.py:1: DtypeWarning: Columns (20,24,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sfdc_opp = pd.read_csv('/home/darshan/Documents/22-Nov-Data/sfdc_opportunities.csv', encoding='latin-1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84509 entries, 0 to 84508
Data columns (total 44 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               84509 non-null  object
 1   salesforce_instance              84509 non-null  object
 2   domain                           2111 non-null   object
 3   opportunity_id                   84509 non-null  object
 4   owner_role                       81998 non-null  object
 5   opportunity_owner                84509 non-null  object
 6   opportunity_name                 84503 non-null  object
 7   account_id                       84508 non-null  object
 8   account_name                     84501 non-null  object
 9   stage                            84509 non-null  object
 10  fiscal_period                    84509 non-null  object
 11  total_arr_usd                    78008 non-null  float64
 12  amount_currency                  78737 non-null  object
 13  amount                           78040 non-null  float64
 14  probability                      36626 non-null  float64
 15  stage_duration                   84507 non-null  float64
 16  age                              67093 non-null  float64
 17  reason_lost                      37504 non-null  object
 18  close_date                       84509 non-null  object
 19  created_date                     84509 non-null  object
 20  entered_pipeline_date            1024 non-null   object
 21  next_step                        22789 non-null  object
 22  lead_source                      82479 non-null  object
 23  type                             84509 non-null  object
 24  marketing_involvement            468 non-null    object
 25  business_group                   82291 non-null  object
 26  opportunity_geo_region           84509 non-null  object
 27  qualified_by                     72991 non-null  object
 28  website                          2222 non-null   object
 29  primary_campaign_source          82177 non-null  object
 30  source_campaign                  83294 non-null  object
 31  opportunity_source               1957 non-null   object
 32  last_touch_campaign              81933 non-null  object
 33  created_by                       84509 non-null  object
 34  updated_by                       84509 non-null  object
 35  created_at                       84509 non-null  object
 36  updated_at                       84509 non-null  object
 37  marketing_involvement_formatted  84509 non-null  object
 38  unified_account_id               3342 non-null   object
 39  unified_contact_id               0 non-null      float64
 40  primary_contact                  82253 non-null  object
 41  primary_contact_title            27746 non-null  object
 42  primary_contact_email            82216 non-null  object
 43  arr_segment                      84509 non-null  object
dtypes: float64(6), object(38)
memory usage: 28.4+ MB

In [9]:
df_sfdc_opp_stage = pd.read_csv('/home/darshan/Documents/Vonage 2024-Nov-13/SFDC/Opportunities Stage Progression.csv', encoding='latin-1')
df_sfdc_opp_stage.info()

/tmp/ipykernel_122836/2522086470.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sfdc_opp_stage = pd.read_csv('/home/darshan/Documents/Vonage 2024-Nov-13/SFDC/Opportunities Stage Progression.csv', encoding='latin-1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157580 entries, 0 to 157579
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ï»¿Salesforce Instance  157580 non-null  object
 1   Opportunity ID          157580 non-null  object
 2   Opportunity Owner       157580 non-null  object
 3   Opportunity Name        157573 non-null  object
 4   Account Name            157562 non-null  object
 5   Stage                   157580 non-null  object
 6   Edited By               157580 non-null  object
 7   Total ARR USD           157580 non-null  float64
 8   Field / Event           157580 non-null  object
 9   Old Value               157580 non-null  object
 10  New Value               157580 non-null  object
 11  Edit Date               157580 non-null  object
 12  Opportunity Geo-Region  157580 non-null  object
 13  Type                    157580 non-null  object
 14  Business Group          152608 non-null  object
 15  Marketing Involvement   984 non-null     object
dtypes: float64(1), object(15)
memory usage: 19.2+ MB

In [13]:
df_madison_1 = pd.read_csv('/home/darshan/Documents/Vonage 2024-Nov-13/Madison Logic/Madison Logic_3rd Sept 24.csv', encoding='latin-1')
df_madison_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8341 entries, 0 to 8340
Data columns (total 62 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ï»¿Campaign Name                           8341 non-null   object
 1   Batch Date                                 8341 non-null   object
 2   Account Name                               8341 non-null   object
 3   Account Domain                             8341 non-null   object
 4   Leads                                      8341 non-null   int64
 5   Display Impressions                        8341 non-null   int64
 6   Clicks                                     8341 non-null   int64
 7   Click Through Rate                         8341 non-null   float64
 8   Exposure Time (Minutes)                    8341 non-null   float64
 9   Site Visits                                8341 non-null   int64
 10  Exposure Time per Site Visit (Minutes)     8341 non-null   float64
 11  Top MLI Topic (Average Over Last 7 Weeks)  6040 non-null   object
 12  # Trending MLI Topics (Over Last 7 weeks)  8341 non-null   int64
 13  MLI Topic 1                                327 non-null    object
 14  MLI Topic 2                                1 non-null      object
 15  MLI Topic 3                                411 non-null    object
 16  MLI Topic 4                                2295 non-null   object
 17  MLI Topic 5                                125 non-null    object
 18  MLI Topic 6                                687 non-null    object
 19  MLI Topic 7                                173 non-null    object
 20  MLI Topic 8                                450 non-null    object
 21  MLI Topic 9                                680 non-null    object
 22  MLI Topic 10                               2 non-null      object
 23  MLI Topic 11                               124 non-null    object
 24  MLI Topic 12                               0 non-null      float64
 25  MLI Topic 13                               386 non-null    object
 26  MLI Topic 14                               196 non-null    object
 27  MLI Topic 15                               15 non-null     object
 28  MLI Topic 16                               499 non-null    object
 29  MLI Topic 17                               201 non-null    object
 30  MLI Topic 18                               177 non-null    object
 31  MLI Topic 19                               108 non-null    object
 32  MLI Topic 20                               779 non-null    object
 33  MLI Topic 21                               495 non-null    object
 34  MLI Topic 22                               378 non-null    object
 35  MLI Topic 23                               570 non-null    object
 36  MLI Topic 24                               9 non-null      object
 37  MLI Topic 25                               128 non-null    object
 38  MLI Topic 26                               235 non-null    object
 39  MLI Topic 27                               0 non-null      float64
 40  MLI Topic 28                               754 non-null    object
 41  MLI Topic 29                               1621 non-null   object
 42  MLI Topic 30                               331 non-null    object
 43  MLI Topic 31                               87 non-null     object
 44  MLI Topic 32                               113 non-null    object
 45  MLI Topic 33                               442 non-null    object
 46  MLI Topic 34                               108 non-null    object
 47  MLI Topic 35                               16 non-null     object
 48  MLI Topic 36                               49 non-null     object
 49  MLI Topic 37                               125 non-null    object
 50  MLI Topic 38                               842 non-null    object
 51  MLI Topic 39                               339 non-null    object
 52  MLI Topic 40                               335 non-null    object
 53  MLI Topic 41                               891 non-null    object
 54  MLI Topic 42                               798 non-null    object
 55  MLI Topic 43                               6 non-null      object
 56  MLI Topic 44                               804 non-null    object
 57  MLI Topic 45                               5 non-null      object
 58  MLI Topic 46                               378 non-null    object
 59  MLI Topic 47                               598 non-null    object
 60  MLI Topic 48                               1705 non-null   object
 61  MLI Topic 49                               15 non-null     object
dtypes: float64(5), int64(5), object(52)
memory usage: 3.9+ MB

In [15]:
df_madison_2 = pd.read_csv('/home/darshan/Documents/Vonage 2024-Nov-13/Madison Logic/Madison Logic_18th Oct 24.csv', encoding='latin-1')
df_madison_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5559 entries, 0 to 5558
Data columns (total 62 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ï»¿Campaign Name                           5559 non-null   object
 1   Batch Date                                 5559 non-null   object
 2   Account Name                               5559 non-null   object
 3   Account Domain                             5559 non-null   object
 4   Leads                                      5559 non-null   int64
 5   Display Impressions                        5559 non-null   int64
 6   Clicks                                     5559 non-null   int64
 7   Click Through Rate                         5559 non-null   float64
 8   Exposure Time (Minutes)                    5559 non-null   float64
 9   Site Visits                                5559 non-null   int64
 10  Exposure Time per Site Visit (Minutes)     5559 non-null   float64
 11  Top MLI Topic (Average Over Last 7 Weeks)  4897 non-null   object
 12  # Trending MLI Topics (Over Last 7 weeks)  5559 non-null   int64
 13  MLI Topic 1                                19 non-null     object
 14  MLI Topic 2                                350 non-null    object
 15  MLI Topic 3                                103 non-null    object
 16  MLI Topic 4                                347 non-null    object
 17  MLI Topic 5                                593 non-null    object
 18  MLI Topic 6                                234 non-null    object
 19  MLI Topic 7                                396 non-null    object
 20  MLI Topic 8                                737 non-null    object
 21  MLI Topic 9                                186 non-null    object
 22  MLI Topic 10                               669 non-null    object
 23  MLI Topic 11                               373 non-null    object
 24  MLI Topic 12                               570 non-null    object
 25  MLI Topic 13                               0 non-null      float64
 26  MLI Topic 14                               285 non-null    object
 27  MLI Topic 15                               2551 non-null   object
 28  MLI Topic 16                               769 non-null    object
 29  MLI Topic 17                               125 non-null    object
 30  MLI Topic 18                               972 non-null    object
 31  MLI Topic 19                               774 non-null    object
 32  MLI Topic 20                               910 non-null    object
 33  MLI Topic 21                               305 non-null    object
 34  MLI Topic 22                               1020 non-null   object
 35  MLI Topic 23                               13 non-null     object
 36  MLI Topic 24                               737 non-null    object
 37  MLI Topic 25                               263 non-null    object
 38  MLI Topic 26                               453 non-null    object
 39  MLI Topic 27                               884 non-null    object
 40  MLI Topic 28                               26 non-null     object
 41  MLI Topic 29                               257 non-null    object
 42  MLI Topic 30                               199 non-null    object
 43  MLI Topic 31                               10 non-null     object
 44  MLI Topic 32                               746 non-null    object
 45  MLI Topic 33                               257 non-null    object
 46  MLI Topic 34                               137 non-null    object
 47  MLI Topic 35                               339 non-null    object
 48  MLI Topic 36                               8 non-null      object
 49  MLI Topic 37                               1953 non-null   object
 50  MLI Topic 38                               123 non-null    object
 51  MLI Topic 39                               10 non-null     object
 52  MLI Topic 40                               159 non-null    object
 53  MLI Topic 41                               2 non-null      object
 54  MLI Topic 42                               92 non-null     object
 55  MLI Topic 43                               0 non-null      float64
 56  MLI Topic 44                               470 non-null    object
 57  MLI Topic 45                               4 non-null      object
 58  MLI Topic 46                               407 non-null    object
 59  MLI Topic 47                               121 non-null    object
 60  MLI Topic 48                               3 non-null      object
 61  MLI Topic 49                               609 non-null    object
dtypes: float64(5), int64(5), object(52)
memory usage: 2.6+ MB

In [17]:
df_6sense = pd.read_csv('/home/darshan/Documents/Vonage 2024-Nov-13/6Sense/6Sense.csv', encoding='latin-1')
df_6sense.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14229 entries, 0 to 14228
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ï»¿6sense Company Name  14114 non-null  object
 1   6sense Country          14114 non-null  object
 2   6sense Domain           14106 non-null  object
 3   6sense Revenue Range    14108 non-null  object
 4   6sense Employee Range   14110 non-null  object
 5   Industry                14108 non-null  object
 6   Industry (Legacy)       14105 non-null  object
 7   Stages                  14114 non-null  object
dtypes: object(8)
memory usage: 889.4+ KB

In [61]:
df_camp_member = pd.read_csv('/home/darshan/Documents/22-Nov-Data/sfdc_campaign_members.csv', encoding='latin-1')
df_camp_member.info()

/tmp/ipykernel_122836/1120515681.py:1: DtypeWarning: Columns (12,21,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_camp_member = pd.read_csv('/home/darshan/Documents/22-Nov-Data/sfdc_campaign_members.csv', encoding='latin-1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670218 entries, 0 to 670217
Data columns (total 39 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id                            670218 non-null  object
 1   salesforce_instance           670218 non-null  object
 2   domain                        669190 non-null  object
 3   campaign_id                   670218 non-null  object
 4   campaign_name                 670218 non-null  object
 5   business_group                650109 non-null  object
 6   member_type                   670218 non-null  object
 7   member_status                 670212 non-null  object
 8   related_record_id             670218 non-null  object
 9   member_first_associated_date  670218 non-null  object
 10  member_status_update_date     670218 non-null  object
 11  member_first_responded_date   403273 non-null  object
 12  account_id                    9605 non-null    object
 13  company                       669521 non-null  object
 14  responded                     403273 non-null  float64
 15  first_name                    669757 non-null  object
 16  last_name                     670208 non-null  object
 17  title                         312841 non-null  object
 18  phone                         547432 non-null  object
 19  email                         669190 non-null  object
 20  related_record_owner          670218 non-null  object
 21  account_owner                 106404 non-null  object
 22  address                       293774 non-null  object
 23  city                          238900 non-null  object
 24  state                         357232 non-null  object
 25  zip_postal_code               310400 non-null  object
 26  country                       594223 non-null  object
 27  created_by                    670218 non-null  object
 28  updated_by                    670218 non-null  object
 29  created_at                    670218 non-null  object
 30  updated_at                    670218 non-null  object
 31  campaign_type                 664519 non-null  object
 32  sub_type                      524233 non-null  object
 33  campaign_status               670218 non-null  object
 34  geo_region                    0 non-null       float64
 35  region                        91097 non-null   object
 36  unified_account_id            475625 non-null  object
 37  unified_contact_id            451787 non-null  object
 38  campaign_geo_region           670218 non-null  object
dtypes: float64(2), object(37)
memory usage: 199.4+ MB

In [43]:
camp_member_with_account_id = df_camp_member[df_camp_member['unified_account_id'].notnull()]
count = camp_member_with_account_id.shape[0]
count

475625

In [37]:
# Remove null values from Account ID in df_camp_member
df_camp_member_clean = df_camp_member.dropna(subset=['account_id'])

# Check how many Account IDs in df_camp_member_clean exist in df_sfdc_opp
account_ids_in_sfdc_opp = df_camp_member_clean['account_id'].isin(df_sfdc_opp['Account ID'])
count = account_ids_in_sfdc_opp.sum()
count

np.int64(2275)

In [39]:
# Extract the domain from the Email column
df_camp_member['Email Domain'] = df_camp_member['email'].str.split('@').str[1]

# Get the value counts for the extracted domains
email_domain_counts = df_camp_member['Email Domain'].value_counts()
email_domain_counts

Email Domain
gmail.com                158399
yahoo.com                 21784
hotmail.com                8661
outlook.com                7215
aol.com                    4857
                          ...
fultoncommons.com             1
znzenterprise.org             1
prolificanalytics.org         1
thomsonmechanical.com         1
stefanakis.com                1
Name: count, Length: 137580, dtype: int64

In [42]:
# Assuming you want to store the email domain counts in a CSV
email_domain_counts.to_csv('email_domain_counts.csv', index=True)

In [45]:
# Save the result to a CSV file
df_camp_member[['Email Domain']].to_csv('camp_member_email_domains.csv', index=False)

In [70]:
temp_df_1 = df_camp_member[['unified_account_id']]
temp_df_1.dropna()

                          unified_account_id
0       90eb2ce4-68ab-458f-9d13-41a81919d629
1       ab18558c-bcde-43bb-bf24-9a7b2926bc2f
2       667235af-f66c-45fd-9ad1-7a6c00648b4b
3       64673bb5-2424-4d0d-a9b7-6c8977d913ca
4       c7e356d1-737f-4331-ad3e-e57ab9f4185e
...                                      ...
670213  4ea270a6-790d-43b6-a863-82ed42bce742
670214  c9bee7a7-a839-4228-92d7-a41d94325c5c
670215  abfcea19-4976-4603-bfad-5ff4176c266e
670216  4bdde258-0d81-468a-b0c2-b9c89b032579
670217  516d9e82-c9dd-4d88-9240-6ad5bd2b1bcb

[475625 rows x 1 columns]

In [71]:
temp_df_2 = df_sfdc_opp[['unified_account_id']]
temp_df_2.dropna()

                         unified_account_id
0      a4a180a6-9fbe-4cb8-a4f8-d3b0557d1430
1      e37c0908-b3d6-4219-9e44-72c5cde2feb2
4      23189292-d972-47f6-a1b3-8b4c943ac7c2
6      abffb55c-8ee5-4a2f-b46b-449e0ebee670
7      72ebc7b6-f762-447f-bb20-e4dd5fe07d97
...                                     ...
84189  2e939f58-0082-4ed9-9b75-1ee31c084d4c
84204  9e34d68e-382e-4659-a98b-0b6e0d44d5ea
84214  e038102b-35b5-423e-9193-1451f0ef3723
84271  9e34d68e-382e-4659-a98b-0b6e0d44d5ea
84394  50f3af51-f3f6-4c9d-8280-f8e9df7c49b3

[3342 rows x 1 columns]

In [73]:
# # Perform an inner join between df_camp_members and df_sfdc_opp on 'unified_account_id'
# merged_df = pd.merge(temp_df_1, temp_df_2, left_on='unified_account_id', right_on='unified_account_id', how='inner')

# # Get the count of unique camp members who have opportunities
# count = merged_df['unified_account_id'].nunique()

# # Display the count
# count


# Check how many values in df1 exist in df2
matching_values = temp_df_1['unified_account_id'].isin(temp_df_2['unified_account_id'])

# Count how many True values there are (i.e., how many values from df1 exist in df2)
matching_count = matching_values.sum()


print(matching_count)

224402

In [51]:
# Get the count of unique account IDs in df_sfdc_opp
unique_account_ids_sfdc_opp = df_sfdc_opp['unified_account_id'].nunique()
unique_account_ids_sfdc_opp

2572