In [1]:
import pandas as pd

In [2]:
df_acc = pd.read_csv('/home/darshan/Documents/AI Data/_Select_Distinct_ON_lower_a_nex_name_a_a_ML_a_CL_as_Total_case_w_202412091103.csv')

df_acc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147366 entries, 0 to 147365
Data columns (total 67 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unified_Account_Data      147366 non-null  object
 1   id                        147366 non-null  object
 2   name                      147364 non-null  object
 3   domain                    147366 non-null  object
 4   country                   125087 non-null  object
 5   vbc_id                    20081 non-null   object
 6   vbc_name                  20081 non-null   object
 7   vcc_id                    18575 non-null   object
 8   vcc_name                  18575 non-null   object
 9   nex_id                    147366 non-null  object
 10  nex_name                  147365 non-null  object
 11  created_by                147366 non-null  object
 12  updated_by                147366 non-null  object
 13  created_at                147366 non-null  object
 14  updated_at                147366 non-null  object
 15  source                    147366 non-null  object
 16  append_sources            147366 non-null  object
 17  base_named_account_id     17112 non-null   object
 18  base_named_account_name   17112 non-null   object
 19  is_verified               147366 non-null  bool
 20  is_manually_appended      147366 non-null  bool
 21  scrubbed_name             147366 non-null  object
 22  base_source               147366 non-null  object
 23  suppression_status        147366 non-null  object
 24  revenue                   14877 non-null   float64
 25  employees                 38661 non-null   float64
 26  industry                  50135 non-null   object
 27  Base_Account_Data         147366 non-null  object
 28  id.1                      17112 non-null   object
 29  company_name              17112 non-null   object
 30  country.1                 17112 non-null   object
 31  domain.1                  17112 non-null   object
 32  revenue_range             16499 non-null   object
 33  employee_range            17022 non-null   object
 34  industry.1                17002 non-null   object
 35  industry_legacy           17102 non-null   object
 36  buying_stage              16668 non-null   object
 37  created_by.1              17112 non-null   object
 38  updated_by.1              17112 non-null   object
 39  created_at.1              17112 non-null   object
 40  updated_at.1              17112 non-null   object
 41  scrubbed_name.1           17112 non-null   object
 42  file_id                   0 non-null       float64
 43  Six_Senses_Data           147366 non-null  object
 44  id.2                      14000 non-null   object
 45  six_sense_company_name    14000 non-null   object
 46  six_sense_country         14000 non-null   object
 47  six_sense_domain          13998 non-null   object
 48  six_sense_revenue_range   13995 non-null   object
 49  six_sense_employee_range  13996 non-null   object
 50  industry.2                13996 non-null   object
 51  industry_legacy.1         13995 non-null   object
 52  buying_stage.1            14000 non-null   object
 53  notes                     0 non-null       float64
 54  created_by.2              14000 non-null   object
 55  updated_by.2              14000 non-null   object
 56  created_at.2              14000 non-null   object
 57  updated_at.2              14000 non-null   object
 58  unified_account_id        14000 non-null   object
 59  unified_contact_id        0 non-null       float64
 60  file_id.1                 0 non-null       float64
 61  Computed_Data             147366 non-null  object
 62  ML                        147366 non-null  int64
 63  CL                        147366 non-null  int64
 64  Has Opportunity?          147366 non-null  object
 65  Total                     147366 non-null  int64
 66  Engagement Category       147366 non-null  object
dtypes: bool(2), float64(6), int64(3), object(56)
memory usage: 73.4+ MB

In [3]:
df_contact = pd.read_csv('/home/darshan/Documents/AI Data/unified_contacts_202412091219.csv')

df_contact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272693 entries, 0 to 272692
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        272693 non-null  object
 1   account                   272660 non-null  object
 2   domain                    272693 non-null  object
 3   first_name                272689 non-null  object
 4   last_name                 272693 non-null  object
 5   title                     159644 non-null  object
 6   work_email                272693 non-null  object
 7   fn_ln_domain_dedupe_key   272648 non-null  object
 8   fn_ln_company_dedupe_key  272693 non-null  object
 9   created_by                272693 non-null  object
 10  updated_by                272693 non-null  object
 11  created_at                272693 non-null  object
 12  updated_at                272693 non-null  object
 13  source                    272693 non-null  object
 14  append_sources            272693 non-null  object
 15  is_verified               272693 non-null  bool
 16  is_manually_appended      272693 non-null  bool
 17  unified_account_id        264118 non-null  object
 18  member_type               272693 non-null  object
dtypes: bool(2), object(17)
memory usage: 35.9+ MB

In [4]:
# Remove unnecessary columns from df_acc (excluding 'id', 'id.1', 'file_id', 'notes', 'unified_contact_id')
cols_to_drop_acc = ['created_at', 'created_by', 'updated_at', 'updated_by', 'created_at.1', 
                    'created_by.1', 'updated_at.1', 'updated_by.1', 'created_at.2', 'updated_at.2']
df_acc_cleaned = df_acc.drop(columns=cols_to_drop_acc)

# Remove unnecessary columns from df_contact (excluding the ones required for merging)
cols_to_drop_contact = ['created_at', 'created_by', 'updated_at', 'updated_by', 'id']
df_contact_cleaned = df_contact.drop(columns=cols_to_drop_contact)

In [5]:
# Remove rows with null 'unified_account_id' from df_contact_cleaned
df_contact_cleaned = df_contact_cleaned[df_contact_cleaned['unified_account_id'].notnull()]

# Add a prefix "account_" to the columns of df_acc_cleaned
df_acc_cleaned = df_acc_cleaned.rename(columns=lambda x: f"account_{x}")

# Get the initial and cleaned row counts for both DataFrames
contact_initial_count = df_contact.shape[0]
contact_cleaned_count = df_contact_cleaned.shape[0]

# Display the counts
print("### Contact DataFrame ###")
print(f"Initial Count: {contact_initial_count}")
print(f"Cleaned Count: {contact_cleaned_count}")

### Contact DataFrame ###
Initial Count: 272693
Cleaned Count: 264118

In [8]:
# Merge the two DataFrames on 'id' from df_acc and 'unified_account_id' from df_contact
df_merged = pd.merge(df_acc_cleaned, df_contact_cleaned, left_on='account_id', right_on='unified_account_id', how='inner')

# Show the result
print(f"Final merged dataframe shape: {df_merged.shape}")

df_merged.to_csv('contact_with_account.csv')

Final merged dataframe shape: (264118, 71)