In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df_opportunities = pd.read_excel(
    '/home/darshan/Documents/Data - 24th Nov 24/Opportunities.xlsx', engine='openpyxl'
)
df_opportunities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NXS_AccountName          3342 non-null   object
 1   id                       3342 non-null   object
 2   Salesforce Instance      3342 non-null   object
 3   Domain                   2109 non-null   object
 4   Opportunity ID           3342 non-null   object
 5   Owner Role               3012 non-null   object
 6   Opportunity Owner        3342 non-null   object
 7   Opportunity Name         3342 non-null   object
 8   Account ID               3342 non-null   object
 9   Account Name             3342 non-null   object
 10  Stage                    3342 non-null   object
 11  Fiscal Period            3342 non-null   object
 12  Total ARR USD            2644 non-null   float64
 13  Amount Currency          2707 non-null   object
 14  Amount                   2671 non-null   float64
 15  Probability (%)          1167 non-null   float64
 16  Stage Duration           3342 non-null   int64
 17  Age                      3250 non-null   float64
 18  Reason Lost              1959 non-null   object
 19  Close Date               3342 non-null   datetime64[ns]
 20  Created Date             3342 non-null   datetime64[ns]
 21  Entered Pipeline Date    848 non-null    datetime64[ns]
 22  Next Step                2536 non-null   object
 23  Lead Source              2290 non-null   object
 24  Type                     3342 non-null   object
 25  Marketing Involvement    437 non-null    object
 26  Business Group           2607 non-null   object
 27  Opportunity Geo-Region   3342 non-null   object
 28  Qualified By (User)      2732 non-null   object
 29  Website                  2138 non-null   object
 30  Primary Campaign Source  1737 non-null   object
 31  Source Campaign          2716 non-null   object
 32  Opportunity Source       1599 non-null   object
 33  Last Touch Campaign      1666 non-null   object
 34  created_by               3342 non-null   object
 35  updated_by               3342 non-null   object
 36  created_at               3342 non-null   datetime64[ns]
 37  updated_at               3342 non-null   datetime64[ns]
 38  MktgInvolvementFormat    3342 non-null   object
 39  unified_account_id       3342 non-null   object
 40  unified_contact_id       0 non-null      float64
 41  Primary Contact          1974 non-null   object
 42  Primary Contact Title    974 non-null    object
 43  Primary Contact Email    1958 non-null   object
 44  ARR Segment              3342 non-null   object
dtypes: datetime64[ns](5), float64(5), int64(1), object(34)
memory usage: 1.1+ MB

In [6]:
df_medison = pd.read_excel(
    '/home/darshan/Documents/Data - 24th Nov 24/Madison.xlsx', engine='openpyxl'
)
df_medison.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11463 entries, 0 to 11462
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   File Source                        11463 non-null  object
 1   Campaign Name / Sequence Name      11463 non-null  object
 2   Campaign Type                      11463 non-null  object
 3   SubType                            11463 non-null  object
 4   Member First Responded Date        11463 non-null  datetime64[ns]
 5   NXS_AccountName                    11463 non-null  object
 6   Domain/Website                     11463 non-null  object
 7   Clicks                             4363 non-null   float64
 8   Site Visits                        6636 non-null   float64
 9   Display Impressions                10485 non-null  float64
 10  Exposure Time Minutes              10305 non-null  float64
 11  Top MLI Topic (Avg Last7 Weeks)    9147 non-null   object
 12  Trending MLI Topics (Last7 Weeks)  9147 non-null   float64
 13  Campaign Geo-Region                11463 non-null  object
 14  Responded                          11463 non-null  int64
 15  Unified Contact Id                 0 non-null      float64
 16  Dedupekeys                         11463 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(9)
memory usage: 1.5+ MB

In [8]:
df_acc = pd.read_excel(
    '/home/darshan/Documents/Data - 24th Nov 24/Account Engagement.xlsx', engine='openpyxl'
)
df_acc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145210 entries, 0 to 145209
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   NXS_AccountName           145208 non-null  object
 1   Domain                    145210 non-null  object
 2   Scrubbing Status          145210 non-null  object
 3   Source                    145210 non-null  object
 4   Country                   0 non-null       float64
 5   Geo Region                0 non-null       float64
 6   Employee Range            16401 non-null   object
 7   Revenue                   16374 non-null   float64
 8   Revenue Range             16374 non-null   object
 9   Industry                  16955 non-null   object
 10  Madison Logic Engagement  145210 non-null  int64
 11  Contact Level Engagement  145210 non-null  int64
 12  Has Opportunity?          145210 non-null  object
 13  6Sense Buying Stage       16530 non-null   object
 14  Total Engagement          145210 non-null  int64
 15  Engagement Category       145210 non-null  object
dtypes: float64(3), int64(3), object(10)
memory usage: 17.7+ MB

In [9]:
df_temp = pd.read_csv('/home/darshan/Documents/22-Nov-Data/sfdc_campaign_members.csv')

/tmp/ipykernel_697798/1550159386.py:1: DtypeWarning: Columns (12,21,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv('/home/darshan/Documents/22-Nov-Data/sfdc_campaign_members.csv')

In [10]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670218 entries, 0 to 670217
Data columns (total 39 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id                            670218 non-null  object
 1   salesforce_instance           670218 non-null  object
 2   domain                        669190 non-null  object
 3   campaign_id                   670218 non-null  object
 4   campaign_name                 670218 non-null  object
 5   business_group                650109 non-null  object
 6   member_type                   670218 non-null  object
 7   member_status                 670212 non-null  object
 8   related_record_id             670218 non-null  object
 9   member_first_associated_date  670218 non-null  object
 10  member_status_update_date     670218 non-null  object
 11  member_first_responded_date   403273 non-null  object
 12  account_id                    9605 non-null    object
 13  company                       669521 non-null  object
 14  responded                     403273 non-null  float64
 15  first_name                    669757 non-null  object
 16  last_name                     670208 non-null  object
 17  title                         312841 non-null  object
 18  phone                         547432 non-null  object
 19  email                         669190 non-null  object
 20  related_record_owner          670218 non-null  object
 21  account_owner                 106404 non-null  object
 22  address                       293774 non-null  object
 23  city                          238900 non-null  object
 24  state                         357232 non-null  object
 25  zip_postal_code               310400 non-null  object
 26  country                       594223 non-null  object
 27  created_by                    670218 non-null  object
 28  updated_by                    670218 non-null  object
 29  created_at                    670218 non-null  object
 30  updated_at                    670218 non-null  object
 31  campaign_type                 664519 non-null  object
 32  sub_type                      524233 non-null  object
 33  campaign_status               670218 non-null  object
 34  geo_region                    0 non-null       float64
 35  region                        91097 non-null   object
 36  unified_account_id            475625 non-null  object
 37  unified_contact_id            451787 non-null  object
 38  campaign_geo_region           670218 non-null  object
dtypes: float64(2), object(37)
memory usage: 199.4+ MB

###### Group by 'email' and count the unique 'accountId' for each email, then sort by count in descending order
email_account_count = (
    df_temp.groupby('email')['unified_account_id']
    .nunique()
    .reset_index()
    .rename(columns={'email': 'Email', 'unified_account_id': 'Account Count'})
    .sort_values(by='Account Count', ascending=False)
)

# Display the result
print(email_account_count)

In [19]:
df_final_data = pd.read_csv('/home/darshan/Documents/Final Data/final_account_dataset.csv');
df_final_data.info()

/tmp/ipykernel_697798/1736735450.py:1: DtypeWarning: Columns (22,24,25,27,28,29,30,31,32,33,34,36,37,38,39,40,41,42,43,44,46,47,48,49,50,51,53,54,55,58,59,61,62,63,65,67,68,69,70) have mixed types. Specify dtype option on import or set low_memory=False.
  df_final_data = pd.read_csv('/home/darshan/Documents/Final Data/final_account_dataset.csv');

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146211 entries, 0 to 146210
Columns: 142 entries, Unnamed: 0 to opportunity_arr_segment
dtypes: bool(2), float64(27), int64(1), object(112)
memory usage: 156.4+ MB

In [20]:
df_final_call = pd.read_csv('/home/darshan/Documents/Final Data/final_call.csv');
df_final_call.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33381 entries, 0 to 33380
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   prospect_email           33381 non-null  object
 1   total_calls              33381 non-null  int64
 2   outbound_calls           33381 non-null  int64
 3   inbound_calls            33381 non-null  int64
 4   answered_calls           33381 non-null  int64
 5   total_answered_duration  33381 non-null  float64
 6   avg_answered_duration    33381 non-null  float64
 7   min_call_duration        33381 non-null  float64
 8   max_call_duration        33381 non-null  float64
dtypes: float64(4), int64(4), object(1)
memory usage: 2.3+ MB

In [22]:
df_final_email = pd.read_csv('/home/darshan/Documents/Final Data/final_emails.csv');
df_final_email.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24522 entries, 0 to 24521
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Email                           24522 non-null  object
 1   Email_Frequency                 24522 non-null  int64
 2   open_count                      24522 non-null  int64
 3   open_rate                       24522 non-null  float64
 4   click_count                     24522 non-null  int64
 5   click_rate                      24522 non-null  float64
 6   single_mail_count               24522 non-null  int64
 7   sequence_mail_count             24522 non-null  int64
 8   campaign_mail_count             24522 non-null  int64
 9   is_unsubscribed                 24522 non-null  int64
 10  average_time_required_to_reply  24522 non-null  int64
dtypes: float64(2), int64(8), object(1)
memory usage: 2.1+ MB